<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
  </div>
</ng-template>

<hr>

<div class="row text-center">
    <div class="col-md-4">
      <div class="btn btn-primary" (click)=addApointment();>Add Appointment</div>
    </div>
</div>

<hr>

<app-demo-utils-calendar-header
  [(view)]="view"
  [(viewDate)]="viewDate">
</app-demo-utils-calendar-header>

<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top">
    <!-- <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span> -->
    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
  </div>
  <small *ngIf="day.events.length>0" style="margin: 5px">
    <ul>
      
       <li *ngFor="let event of day.events">
          <span (click)=addApointment(); >{{event.title}}</span>
      </li> 
    </ul>
  </small>
</ng-template>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [cellTemplate]="customCellTemplate">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [refresh]="refresh"
    [events]="events">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [refresh]="refresh"
    [events]="events">
  </mwl-calendar-day-view>
</div>

<br><br><br>


<div class="modalappointment" [hidden]='isPopUpRequiredForAddAppointment'>
  <div class="innerModel">
    <div class="cancelPopup"><i class="fa fa-fw fa-times" (click)='cancelPopu()'></i></div>
        <h4>Add Appointment</h4>

    <form>
      <div class="form-group">
        <label>Enter Meeting Title</label>
        <input type="text" name='meetingTitle' [(ngModel)]='appointment.meetingTitle'  required class="form-control" id="Meeting_Title" aria-describedby="Meeting Title" placeholder="Enter Meeting Title">
      </div>
      
      <div class="form-group">
        <label>Time Slot</label>
        <div class="timeSlot">
          <app-demo-utils-date-time-picker name="meeting Start time" [(ngModel)]="appointment.starttime" (ngModelChange)="refresh.next()" placeholder="Start Date">
            </app-demo-utils-date-time-picker>
      </div>
        <div class="timeSlot">
            <span>To</span>
            <app-demo-utils-date-time-picker  name="meeting end time"[(ngModel)]="appointment.endtime" (ngModelChange)="refresh.next()" placeholder="End Date">
              </app-demo-utils-date-time-picker>
        </div>
      </div>
      <button type="button" class="btn btn-primary"(click)='submitAppointment(appointment)'>Submit</button>
    </form>

  </div>
</div>

